.mypage
  %h2 My Page
  .user__name
    = current_user.name
  .user__about
    = current_user.about
  %ul.user__teams Team
  - current_user.teams.each do |team|
    %li.user__team
      = link_to "#{team.name}", team_path(team.id)
