%nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #e3f2fd;"}
  %a.navbar-brand{:href => "#"} 
    = @board.name
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link
          = link_to 'Add Card', new_board_card_path(@board), remote: true, class: 'btn btn-outline-secondary'
          #card-form.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "/teams/#{@board.team.id}"}
          = @board.team.name
      -# %li.nav-item
      -#   %a.nav-link{:href => "#"} Pricing
      -# %li.nav-item.dropdown
      -#   %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      -#     Dropdown link
      -#   .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
      -#     %a.dropdown-item{:href => "#"} Action
      -#     %a.dropdown-item{:href => "#"} Another action
      -#     %a.dropdown-item{:href => "#"} Something else here
