.team_page {
  margin-left: 20px;
}

.team__name {
  font-size: 20px;
  font-weight: bold;
}

.team__users {
  font-weight: bold;
  margin-top: 10px;
}

.team__boards {
  font-weight: bold;
  margin-top: 10px;
}

.team__new {
  margin-left: 20px;
}