.devise {
  width: 300px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  margin: 20px;
}

.mypage {
  margin-left: 20px;
}

.user__name {
  font-size: 20px;
  font-weight: bold;
}

.user__teams {
  font-weight: bold;
  margin-top: 10px;
}