.boards
  %h2 My Boards
  .boards__personal
    %p Personal
    - @pboards.each do |board|  
      = link_to "#{board.name}", board_lists_path(board.id), class: "board__link"

  .boards__team
    %p Team
    - @tboards.each do |board|  
      = link_to "#{board.name}", board_lists_path(board.id), class: "board__link"
