.card.item
  .card-title
    = link_to "#{card.name}", board_card_path(@board, card), remote: true
    #card-show.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .card__deadline LIMIT :
  .card__deadline
    = card.deadline
